<a href="https://colab.research.google.com/github/Majoramu/Fisica_Computacional1/blob/main/actv3LosMochis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# Tomar la dirección URL del archivo en formato 'raw'
url = 'https://raw.githubusercontent.com/Majoramu/Fisica_Computacional1/main/Actividad_1/25116.txt'

# Definimos los nombres de las columnas
# El archivo tiene códigos ASCII extendido (Español), encoding='cp1251' Windows (Europa Occidental)
# El separador de datos es de uno o más espacios, sep='\s+'
# Se brincará los primeros 19 renglones y el último, afirmamos que no nay encabezado
# Se procesan los datos utilizando Python, engine='python' 
my_cols = ['Fecha', 'Precip', 'Evap', 'Tmax', 'Tmin']
df_dist = pd.read_csv(url, names=my_cols, encoding='cp1251', sep='\s+', header=None, skiprows=19, skipfooter=1, engine='python')

In [ ]:
#Se imprime el encabezado y el final del dataframe
print(df_dist.head())
print(df_dist.tail())

        Fecha  Precip Evap  Tmax  Tmin
0  01/01/1961     0.0  0.8  22.5     8
1  02/01/1961     0.0  1.8  26.5   8.5
2  03/01/1961     0.0    2  25.5   7.5
3  04/01/1961     0.0  2.5  24.5  10.5
4  05/01/1961     0.0  1.5  20.5  12.5
            Fecha  Precip  Evap  Tmax  Tmin
19032  27/05/2013     0.0  Nulo    37  20.5
19033  28/05/2013     0.0  Nulo  35.5    20
19034  29/05/2013     0.0  Nulo  32.5  19.5
19035  30/05/2013     0.0  Nulo  31.5    20
19036  31/05/2013     0.0  Nulo    33    19

In [ ]:
#Se obtiene la dimensión del dataframe
df_dist.shape

(19037, 5)

In [ ]:
#Se muestra cómo es el contenido del dataframe
df_dist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    19037 non-null  object
 3   Tmax    19037 non-null  object
 4   Tmin    19037 non-null  object
dtypes: float64(1), object(4)
memory usage: 743.8+ KB

In [ ]:
#Se hace copia de trabajo y se preserva el dataframe original
df_work0 = df_dist.copy()
df_work0.head()

        Fecha  Precip Evap  Tmax  Tmin
0  01/01/1961     0.0  0.8  22.5     8
1  02/01/1961     0.0  1.8  26.5   8.5
2  03/01/1961     0.0    2  25.5   7.5
3  04/01/1961     0.0  2.5  24.5  10.5
4  05/01/1961     0.0  1.5  20.5  12.5

In [ ]:
#Se reemplazan los textos 'Nulo' por espacio en blanco
str_Nulo = 'Nulo'
df_work1 = df_work0.replace(to_replace=str_Nulo, value='', regex=True)
df_work1.head()

        Fecha  Precip Evap  Tmax  Tmin
0  01/01/1961     0.0  0.8  22.5     8
1  02/01/1961     0.0  1.8  26.5   8.5
2  03/01/1961     0.0    2  25.5   7.5
3  04/01/1961     0.0  2.5  24.5  10.5
4  05/01/1961     0.0  1.5  20.5  12.5

In [ ]:
#Se imprime la información actualizada del dataframe
df_work1.info()
print(df_work1.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    19037 non-null  object
 3   Tmax    19037 non-null  object
 4   Tmin    19037 non-null  object
dtypes: float64(1), object(4)
memory usage: 743.8+ KB
        Fecha  Precip Evap  Tmax  Tmin
0  01/01/1961     0.0  0.8  22.5     8
1  02/01/1961     0.0  1.8  26.5   8.5
2  03/01/1961     0.0    2  25.5   7.5
3  04/01/1961     0.0  2.5  24.5  10.5
4  05/01/1961     0.0  1.5  20.5  12.5

Convertimos objetos a números flotantes.
Primero atenderemos las columnas de datos que son reales o flotantes.

In [ ]:
#Convertimos los valores de las variables ambientales a números flotantes.
cols_list = ['Precip', 'Evap','Tmax','Tmin']
for cols in cols_list:
  df_work1[cols] = pd.to_numeric(df_work1[cols], errors='coerce')

  df_work1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    19037 non-null  object
 3   Tmax    19037 non-null  object
 4   Tmin    19037 non-null  object
dtypes: float64(1), object(4)
memory usage: 743.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    16923 non-null  float64
 3   Tmax    19037 non-null  object
 4   Tmin    19037 non-null  object
dtypes: float64(2), object(3)
memory usage: 743.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    16923 non-null  float64
 3   Tmax    19030 non-null  float64
 4   Tmin    19037 non-null  object
dtypes: float64(3), object(2)
memory usage: 743.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  object
 1   Precip  19037 non-null  float64
 2   Evap    16923 non-null  float64
 3   Tmax    19030 non-null  float64
 4   Tmin    19004 non-null  float64
dtypes: float64(4), object(1)
memory usage: 743.8+ KB

In [ ]:
#De la instrucción anterior, vemos que hay varios faltantes. Sumamos los valores nulos.
df_work1.isnull().sum()

Fecha        0
Precip       0
Evap      2114
Tmax         7
Tmin        33
dtype: int64

In [ ]:
print(df_work1.head())
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1961     0.0   0.8  22.5   8.0
1  02/01/1961     0.0   1.8  26.5   8.5
2  03/01/1961     0.0   2.0  25.5   7.5
3  04/01/1961     0.0   2.5  24.5  10.5
4  05/01/1961     0.0   1.5  20.5  12.5
        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1961     0.0   0.8  22.5   8.0
1  02/01/1961     0.0   1.8  26.5   8.5
2  03/01/1961     0.0   2.0  25.5   7.5
3  04/01/1961     0.0   2.5  24.5  10.5
4  05/01/1961     0.0   1.5  20.5  12.5

In [ ]:
#Se realiza el análisis estadístico breve de las variables numéricas redondeando a 2 cifras significativas
df_work1.describe().round(2)

         Precip      Evap      Tmax      Tmin
count  19037.00  16923.00  19030.00  19004.00
mean       0.90      6.00     32.72     18.35
std        6.15      2.53      5.14      5.68
min        0.00      0.00     13.50     -1.50
25%        0.00      4.00     29.00     13.50
50%        0.00      6.00     33.50     18.00
75%        0.00      7.90     37.00     24.00
max      211.00     18.00     48.00     31.00

Ahora trabajaremos la variable Fecha.
Usamos las herramientas que nos ofrece Python para trabajar las fechas.

In [ ]:
#Volvemos a hacer una pausa y definimos un nuevo dataframe por si hay que regresarse.
df_work2 = df_work1.copy()
df_work2['Fecha'].head()

0    01/01/1961
1    02/01/1961
2    03/01/1961
3    04/01/1961
4    05/01/1961
Name: Fecha, dtype: object

In [ ]:
##Pandas tiene la función pd.to_datetime que convierte una cadena en tipo datetime64[ns]
#Intentamos a ver si Python reconoce el formato en nuestro caso.
#Agregamos la opción de que el primer dato es el día (dayfirst=True)
df_work2['Fecha']=pd.to_datetime(df_work2['Fecha'], dayfirst=True).copy()
print(df_work1.head())

        Fecha  Precip  Evap  Tmax  Tmin
0  01/01/1961     0.0   0.8  22.5   8.0
1  02/01/1961     0.0   1.8  26.5   8.5
2  03/01/1961     0.0   2.0  25.5   7.5
3  04/01/1961     0.0   2.5  24.5  10.5
4  05/01/1961     0.0   1.5  20.5  12.5

In [ ]:
#Verificamos que cada variable (columna), sea del tipo que esperamos.
#Observamos que la variable Fecha es de tipo 'datetime64[ns]'
df_work2.dtypes

Fecha     datetime64[ns]
Precip           float64
Evap             float64
Tmax             float64
Tmin             float64
dtype: object

In [ ]:
#Buscamos ahora añadir dos columnas adicionales: df['Año'],df['Mes']
#Usaremos la función .dt.year y .dt.month para extraer el Año y Mes de la Fecha
df_work2['Año'] = df_work2['Fecha'].dt.year
df_work2['Mes'] = df_work2['Fecha'].dt.month

In [17]:
#Verificamos que se hayan creado de forma correcta
#Tendremos ahora dos columnas adicionales que podemos utilizar para filtrar información
print(df_work2.head())
print(df_work2.tail())

       Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
0 1961-01-01     0.0   0.8  22.5   8.0  1961    1
1 1961-01-02     0.0   1.8  26.5   8.5  1961    1
2 1961-01-03     0.0   2.0  25.5   7.5  1961    1
3 1961-01-04     0.0   2.5  24.5  10.5  1961    1
4 1961-01-05     0.0   1.5  20.5  12.5  1961    1
           Fecha  Precip  Evap  Tmax  Tmin   Año  Mes
19032 2013-05-27     0.0   NaN  37.0  20.5  2013    5
19033 2013-05-28     0.0   NaN  35.5  20.0  2013    5
19034 2013-05-29     0.0   NaN  32.5  19.5  2013    5
19035 2013-05-30     0.0   NaN  31.5  20.0  2013    5
19036 2013-05-31     0.0   NaN  33.0  19.0  2013    5

In [18]:
#Verificamos que Año y Mes son variables enteras.
df_work2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19037 entries, 0 to 19036
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Fecha   19037 non-null  datetime64[ns]
 1   Precip  19037 non-null  float64
 2   Evap    16923 non-null  float64
 3   Tmax    19030 non-null  float64
 4   Tmin    19004 non-null  float64
 5   Año     19037 non-null  int64
 6   Mes     19037 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 1.0 MB